Family-Themed Python Basics 👨‍👩‍👧‍👦
-------------------------------------------------
Welcome! We'll learn Python step-by-step through a simple family story.
Each section has a tiny narrative + beginner-friendly code.
Feel free to run sections independently.

Mom and Dad put their amounts together to plan groceries.
We'll compute: sum, difference, product, quotient, remainder,
compare who brought more, and check input types.

In [ ]:
mom_amount = float(input("Enter Mom's amount: "))
dad_amount = float(input("Enter Dad's amount: "))

family_sum = mom_amount + dad_amount
family_diff = abs(mom_amount - dad_amount)
family_prod = mom_amount * dad_amount
family_quotient = mom_amount / dad_amount  # true division
family_remainder = mom_amount % dad_amount  # remainder (works with floats too)

In [ ]:
print(f"\nSum: {family_sum}")
print(f"Difference: {family_diff}")
print(f"Product: {family_prod}")
print(f"Quotient (/): {family_quotient}")
print(f"Remainder (%): {family_remainder}")

print("\n(Formatted to 2 decimal places)")
print(f"Sum: {family_sum:.2f}")
print(f"Difference: {family_diff:.2f}")
print(f"Product: {family_prod:.2f}")
print(f"Quotient: {family_quotient:.2f}")
print(f"Remainder: {family_remainder:.2f}")

In [ ]:
# Comparison + logical operators
if mom_amount == dad_amount:
    print(f"\nEqual: Mom's amount ({mom_amount}) equals Dad's amount ({dad_amount}).")
elif mom_amount > dad_amount:
    print(f"\nMom contributed more: {mom_amount} > {dad_amount}.")
else:
    print(f"\nDad contributed more: {dad_amount} > {mom_amount}.")

# Show types
print("\nTypes of inputs:")
print(type(mom_amount))
print(type(dad_amount))


A sibling writes a word on a sticky note.
We'll see its length, uppercase, lowercase, and check palindrome.

In [ ]:
note_text = input("Enter any word or short phrase: ")
print(f"Length: {len(note_text)}")
print(f"Upper: {note_text.upper()}")
print(f"Lower: {note_text.lower()}")

_clean = ''.join(ch.lower() for ch in note_text if ch.isalnum())
if _clean == _clean[::-1]:
    print("It's a palindrome!")
else:
    print("Not a palindrome.")

Let's collect the ages of family members, then sort, append, and remove.

In [ ]:
family_size = int(input("How many family members (≥ 5 recommended)? "))
ages = []
for i in range(family_size):
    age = int(input(f"Enter age for member #{i+1}: "))
    ages.append(age)

print("\nOriginal ages:", ages)
ages.sort()
print("Sorted ages:", ages)

# A cousin came to visit ! Append cousins age
cousin_age = int(input("Enter cousin's age: "))
ages.append(cousin_age)
print("After appending cousins age :", ages)

How many family members (≥ 5 recommended)? 6
Enter age for member #1: 26
Enter age for member #2: 29
Enter age for member #3: 14
Enter age for member #4: 11
Enter age for member #5: 85
Enter age for member #6: 3

Original ages: [26, 29, 14, 11, 85, 3]
Sorted ages: [3, 11, 14, 26, 29, 85]
Enter cousin's age: 12
After appending cousins age : [3, 11, 14, 26, 29, 85, 12]

In [ ]:
if cousin_age in ages:
    ages.remove(cousin_age)
    print("After removing cousins age :", ages)

# Pop the youngest (index 0 after sort)
if ages:
    popped = ages.pop(0)
    print(f"After popping youngest age ({popped}):", ages)

After removing cousins age : [3, 11, 14, 26, 29, 85]
After popping youngest age (3): [11, 14, 26, 29, 85]

Each member has a unique ID number. We'll store as a tuple (unchangeable),
then demonstrate that tuples cannot be sorted in-place.

In [ ]:
id_count = int(input("How many ID numbers will you enter? "))
id_list = []
for i in range(id_count):
    id_list.append(int(input(f"Enter ID for member #{i+1}: ")))

family_ids = tuple(id_list)
print("Family IDs (tuple):", family_ids)

try:
    # This will raise AttributeError because tuple has no .sort()
    family_ids.sort()  # type: ignore[attr-defined]
except AttributeError:
    print("Tuples are immutable and have no sort() method. Convert to list to sort.")

print("Sorted view (without changing the tuple):", tuple(sorted(family_ids)))

How many ID numbers will you enter? 6
Enter ID for member #1: 3456
Enter ID for member #2: 6789
Enter ID for member #3: 3476
Enter ID for member #4: 3986
Enter ID for member #5: 3097
Enter ID for member #6: 3689
Family IDs (tuple): (3456, 6789, 3476, 3986, 3097, 3689)
Tuples are immutable and have no sort() method. Convert to list to sort.
Sorted view (without changing the tuple): (3097, 3456, 3476, 3689, 3986, 6789)

We'll track pantry items using a set (no duplicates, order not guaranteed).

In [ ]:
pantry_items = {"rice", "lentils", "tea", "sugar", "salt"}
print("Initial set:", pantry_items)
pantry_items.add("flour")
print("After add('flour'):", pantry_items)
pantry_items.add("rice")
print("After add('rice'):", pantry_items)
pantry_items.discard("tea")  # discard won't error if item missing
print("After discard('tea'):", pantry_items)

Initial set: {'salt', 'lentils', 'rice', 'tea', 'sugar'}
After add('flour'): {'salt', 'lentils', 'flour', 'rice', 'tea', 'sugar'}
After add('rice'): {'salt', 'lentils', 'flour', 'rice', 'tea', 'sugar'}
After discard('tea'): {'salt', 'lentils', 'flour', 'rice', 'sugar'}

We'll store student names as keys and their marks as values (list of numbers).
We'll add, update, and delete an entry; then compute an average on demand.

In [ ]:
num_class = int(input("How many students in the class? "))
class_record = {}
for i in range(num_class):
    name = input(f"Enter name for student #{i+1}: ")
    marks = []
    for j in range(3):
        marks.append(float(input(f"Enter mark #{j+1} for {name}: ")))

    class_record[name] = marks

How many students in the class? 5
Enter name for student #1: peter
Enter mark #1 for peter: 10
Enter mark #2 for peter: 12
Enter mark #3 for peter: 18
Enter name for student #2: yara
Enter mark #1 for yara: 12
Enter mark #2 for yara: 17
Enter mark #3 for yara: 18
Enter name for student #3: lena
Enter mark #1 for lena: 12
Enter mark #2 for lena: 19
Enter mark #3 for lena: 20
Enter name for student #4: asad
Enter mark #1 for asad: 18
Enter mark #2 for asad: 16
Enter mark #3 for asad: 19
Enter name for student #5: fahad
Enter mark #1 for fahad: 19
Enter mark #2 for fahad: 12
Enter mark #3 for fahad: 13

In [ ]:
class_record

{'peter': [10.0, 12.0, 18.0],
 'yara': [12.0, 17.0, 18.0],
 'lena': [12.0, 19.0, 20.0],
 'asad': [18.0, 16.0, 19.0],
 'fahad': [19.0, 12.0, 13.0]}

Update 1st marks of 1st student (marks + 5)

Delete the students with lowest marks average complete record

In [ ]:
first_student = list(class_record.keys())[0]   # get the first student's name
class_record[first_student][0] += 5            # add 5 to the first mark

print(f"\nAfter updating {first_student}'s 1st mark (+5):")
print(class_record)

averages = {name: sum(marks)/len(marks) for name, marks in class_record.items()}

# find lowest average value
lowest_avg = min(averages.values())

# find all students with that lowest average
to_delete = [name for name, avg in averages.items() if avg == lowest_avg]

# delete them
for student in to_delete:
    del class_record[student]

print(f"\nDeleted student(s) with lowest average ({lowest_avg:.2f}): {to_delete}")
print("Final Class Record:")
print(class_record)

After updating peter's 1st mark (+5):
{'peter': [15.0, 12.0, 18.0], 'yara': [12.0, 17.0, 18.0], 'lena': [12.0, 19.0, 20.0], 'asad': [18.0, 16.0, 19.0], 'fahad': [19.0, 12.0, 13.0]}

Deleted student(s) with lowest average (14.67): ['fahad']
Final Class Record:
{'peter': [15.0, 12.0, 18.0], 'yara': [12.0, 17.0, 18.0], 'lena': [12.0, 19.0, 20.0], 'asad': [18.0, 16.0, 19.0]}

In [ ]:
for i in range(1, 11):  # 1..10 inclusive
    if i == 5:
        continue  # skip 5
    if i == 8:
        break     # stop at 8
    print(i)

1
2
3
4
6
7

In [ ]:
while True:
    reply = input("Say something (or type 'exit' to stop): ")
    if reply.lower() == "exit":
        break

We use factorial to count arrangements of candles. Uses recursion.

In [ ]:
def factorial(n: int) -> int:
    if n < 0:
        raise ValueError("Factorial not defined for negative numbers")
    return 1 if n in (0, 1) else n * factorial(n - 1)

try:
    candles = int(input("Enter number of candles: "))
    print("Factorial:", factorial(candles))
except ValueError as e:
    print("Error:", e)

In [ ]:
def family_sum(*values):
    return sum(values)

print("Sum of contributions:", family_sum(1200, 800, 450))

In [ ]:
def show_details(**kwargs):
    for k, v in kwargs.items():
        print(f"{k} : {v}")

city=input('enter the city your family lives ')
country=input('enter the country your family lives ')
show_details(family_members=family_size , City=city,country=country)

enter the city your family lives Islamabad
enter the country your family lives Pakistan
family_members : 6
City : Islamabad
country : Pakistan

In [ ]:
garden_plots = [3, 4, 5, 6, 7]
areas = list(map(lambda x: x * x, garden_plots))
print("Plot sides:", garden_plots)
print("Squared areas:", areas)

Check weather the age is entered correcyly or not

In [ ]:
try:
    age_guess = int(input("Guess my age: "))
    print("You entered:", age_guess)
except ValueError:
    print("That's not an integer.")

Guess my age: yut
That's not an integer.

**Number Systems: Dec | Oct | Hex | Binary Table**

In [ ]:
def print_formatted(number: int) -> None:
    width = len(bin(number)[2:])
    for i in range(1, number + 1):
        dec_ = str(i).rjust(width)
        oct_ = oct(i)[2:].rjust(width)
        hex_ = hex(i)[2:].upper().rjust(width)
        bin_ = bin(i)[2:].rjust(width)
        print(dec_, oct_, hex_, bin_)

limit = int(input("Print table up to which number? "))
print_formatted(limit)

Find the time since you attended last family wedding

In [ ]:
from datetime import datetime

def day_diff(date1: datetime, date2: datetime) -> int:
    return abs((date2 - date1).days) + 1

print("Enter today's date and the date you attended last family wedding ")

d1 = datetime.fromisoformat(input("Date 1: "))
d2 = datetime.fromisoformat(input("Date 2: "))
print("Day difference (inclusive):", day_diff(d1, d2))

Enter today's date and the date you attended last family wedding
Enter two dates as YYYY-MM-DD
Date 1: 2024-12-23
Date 2: 2025-08-17
Day difference (inclusive): 238

In [ ]:
def character_frequency(text: str):
    return {ch: text.count(ch) for ch in set(text)}

name_text = input("Enter a name or phrase: ")
freq_map = character_frequency(name_text)
print(", ".join([f"{k}=>{v}" for k, v in freq_map.items()]))

Enter a name or phrase: this is a long phrase to checkhowmany characters appear and their frequency
o=>3, q=>1, y=>2, h=>6, m=>1, s=>4, c=>5, i=>3,  =>12, d=>1, l=>1, p=>3, r=>6, e=>7, f=>1, g=>1, t=>4, u=>1, n=>4, w=>1, a=>8, k=>1

Your grand father has set password as his name in reverse , Find the password ?

In [ ]:
def reverse_text(s: str) -> str:
    return s[::-1]

print("Reversed:", reverse_text(input("Enter the Grand-father's name to reverse: ")))

In [ ]:
def is_vowel_sandwich(word: str) -> bool:
    vowels = set("aeiouAEIOU")
    if len(word) != 3:
        return False
    return (word[0] not in vowels) and (word[1] in vowels) and (word[2] not in vowels)

print("bat ->", is_vowel_sandwich("bat"))
print("dog ->", is_vowel_sandwich("dog"))
print("coat ->", is_vowel_sandwich("coat"))

bat -> True
dog -> True
coat -> False

In [ ]:
def get_decimal_places(value) -> int:
    s = str(value)
    return len(s.split(".")[1]) if "." in s else 0

a=input('Enter your Semester GPA\t:\\')
print(f'Your Semester GPA has ->\t{get_decimal_places(a)} decimal places')

Enter your Semester GPA	:	2.989
Your Semester GPA has ->	3 decimal places

**Count 1s in Binary (bit count) of your Grand Mothers age**

In [ ]:
def count_ones(n: int) -> int:
    print("Binary:", bin(n))
    return bin(n).count("1")

val = int(input("Grand Mothers age : "))
print("Number of 1s:", count_ones(val))

Grand Mothers age : 67
Binary: 0b1000011
Number of 1s: 3

**Display the prices of your shopping items as a CSV Format**

In [ ]:
def array_to_csv(arr): # comma seperated
    return ", ".join(map(str, arr))

shopping_items_prices_indiv = input().split()
shopping_items_prices = list(map(float, shopping_items_prices_indiv))
print(array_to_csv(shopping_items_prices))

67 45 34.8 67.5 43 96.5
67.0, 45.0, 34.8, 67.5, 43.0, 96.5

**Check whether the prices are sorted in descending order**

In [ ]:
def is_sorted_ascending(arr) -> bool:
    return all(arr[i] <= arr[i+1] for i in range(len(arr) - 1))

print(shopping_items_prices, "->", "SORTED" if is_sorted_ascending(shopping_items_prices) else "NOT SORTED")

[67.0, 45.0, 34.8, 67.5, 43.0, 96.5] -> NOT SORTED

**Remove duplicate characters from your Name**

In [ ]:
def remove_duplicates_from_string(s: str) -> str:
    seen = set()
    out = []
    for ch in s:
        if ch not in seen:
            seen.add(ch)
            out.append(ch)
    return ''.join(out)

name=input('Enter your full name : ')
print(remove_duplicates_from_string(name.strip('')))
print(f'Congratulations on completing the notebook  {name} , I hope you enjoyed going through the snippets ')

Enter your full name : your firstmiddle last name
your fistmdlean
Congratulations on completing the notebook  your firstmiddle last name , I hope you enjoyed going through the snippets