<a href="https://colab.research.google.com/github/FAKIHAKHAN/python_fundamental_concepts/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment

Given a list of integers, return the largest difference between any two elements, where the larger element appears after the smaller one. If no such pair exists, return 0.

In [ ]:
val=[1,-1,200]
def max_diff_i(arr,inx):
 # create a function to calculate maximum difference for each element in list
  max_diff=abs(arr[inx]-arr[0])
  for j in val:
    diff=abs(arr[inx]-arr[j])
    if max_diff < diff:
      max_diff=diff

    return max_diff

max_diff=max_diff_i(val,0)
# iterate k no. of times to calculate maximum difference for each element in
# list (k is no.of elements of list)
for i in range(len(val)):
  max_temp=max_diff_i(val,i)
  if max_temp>max_diff:
    max_diff=max_temp

print(max_diff)

201

Given a string, return the first non-repeating character. If there are no non-repeating characters, return None.

In [ ]:
string=input()
# Use list to store each character seperately
str_list=list(string)
# if the character appears more than once continue to check else break
for inx in str_list:
  if str_list.count(inx)>1:
    continue
  else:
    print(inx)
    break
else:
  print('None')

ertytreuhygyhja
u

Given two strings, write a function to check if one is a permutation of the other. Return True if they are permutations, False otherwise.

**Input**: "abc", "bca"

**Output**: True

In [ ]:
str1=input('enter string 1:')
str2=input('enter string 2:')
# store string to list and sort. If the characters are in different order, the list becomes Equal
list_str1=sorted(list(str1))
list_str2=sorted(list(str2))
if list_str1==list_str2:
  print('True')
else:
  print('False')

enter string 1:qwerty
enter string 2:yrewtq
list 1 is ['e', 'q', 'r', 't', 'w', 'y']
list 2 is ['e', 'q', 'r', 't', 'w', 'y']
True


Given a list of integers, return the second largest unique number. If no second largest unique number exists, return None.

Example:

**Input:** [4, 5, 6, 6, 7]

**Output:** 6

In [ ]:
arr= [4, 5, 6, 6,8, 0,12,12,8, 7]
# arr =[5,4,4,5,5,5,4] # to check for exception case
arr_set=sorted(set(arr))
print(arr_set)
arr_set.pop()
print(max(arr_set))
if len(arr_set)<2:
  print('None')

[4, 5]
4
None

Given a list of integers and a target sum, count how many distinct pairs of integers in the list sum up to the target.

Example:

**Input:** [1, 2, 3, 4, 3, 6],

**Target:** 6
**Output:** 2

**Explanation:** The pairs (2, 4) and (1, 5) sum up to 6.

In [ ]:
input_list = [1, 2, 3, 4, 3, 6]
target = 6
pair_str = [] # to store pair values

add = lambda a, b: a + b

for j in range(len(input_list)):
    for i in range(j + 1, len(input_list)):
       # # to view all pairs created
        # print(f'Sum of {input_list[j]} and {input_list[i]} is {add(input_list[j], input_list[i])}')
        if add(input_list[j], input_list[i]) == target:
            pair_str.append([input_list[j], input_list[i]])

print("Distinct pairs of integers summing to target are = ", len(pair_str))

Distinct pairs of integers summing to target are =  2

 Given a list of integers, remove all duplicates while maintaining the order of their first occurrence.

Example:

**Input:** [1, 2, 2, 3, 4, 5, 1]

**Output:** [1, 2, 3, 4, 5]

**Explanation:** Duplicates are removed, but the order of elements is preserved.

In [ ]:
input_str= [1, 2, 2, 3, 4, 5, 1]
# convert into set to remove duplicates
input_set=set(input_str)
print(list(input_set))

[1, 2, 3, 4, 5]

Given a list of integers, return all possible subsets (the power set) of the list.

**Example:**

**Input:** [1, 2, 3]

**Output:** [[], [1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

**Explanation:** The function returns all subsets of the list.

In [ ]:
input_str= [1,2,3]
# create the subsets set
set_i=[[],input_str]
for i in range(len(input_str)):
  set_i.append([input_str[i]])
  for j in range(len(input_str)):
    # create a temporary list that contains combinations
    temp_list=[input_str[i],input_str[j]]
    # sort combination to remove redundancy
    temp_list=sorted(temp_list)
    if i!=j:
      if temp_list not in set_i:
        set_i.append(temp_list)

# sort the list based on length of its elements
print(sorted(set_i,key=lambda setl: len(setl[:])))

[[], [1, 2, 3], [1], [1, 2], [1, 3], [2], [2, 3], [3]]

Given a list of integers, find the length of the longest subsequence of strictly increasing elements.

Example:

**Input:** [10, 9, 2, 5, 3, 7, 101, 18]

**Output:** 4

**Explanation:** The longest increasing subsequence is [2, 3, 7, 101].

In [ ]:
nums = [10, 9, 2, 5, 3, 7, 101, 18]
n = len(nums)
dp = [1] * n

for i in range(1, n):
    for j in range(i):
        if nums[i] > nums[j]:
          dp[i] = max(dp[i], dp[j] + 1)

print(max(dp))

4

Given a list of integers, return the maximum product of any two numbers in the list.

**Input:** [1, 10, -5, 1, 100]

**Output:** 1000

**Explanation:** The largest product comes from 10 * 100 = 1000.

In [ ]:
val = [1, 10, -5, 5,-10, 100]
max_product = 0

for i in range(len(val)):
    for j in range(i + 1, len(val)):
        product = val[i] * val[j]
        if product > max_product:
            max_product = product

print(max_product)

1000

Given a string, return the character that appears most frequently. If there is a tie, return the lexicographically smallest character.

**Input:** "aabbbc"

**Output:** 'b'

**Explanation:** The most frequent character is 'b'.

In [ ]:
s=input('enter a string : \t')
s_l=sorted(list(s))
j = [[x, 0] for x in s_l]
for k in range(len(s_l)):
  j[k][1]=s_l.count(s_l[k])
# convert from tuple to set to remove duplicates
# convert from set to list to access using index
unique_data = list(set(tuple(row) for row in j))
print(f'Most frequently occuring character in the string is :\t {sorted(unique_data, key=lambda x: (-x[1], x[0]))[0][0]}')

enter a string : mynameis fakihai ambadperson
Most frequently occuringcharacter in the string is :	 a

Write a function that prints all prime numbers less than a given number n.


**Input:** 10

**Output:** 2, 3, 5, 7

In [ ]:
n=int(input('enter a no. '))
for num in range(2, n):
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num, end=' ')
print()

enter a no. 7
2 3 5

Write a function that takes a variable number of arguments (*args) and returns the sum of all the numbers.

**Input:** (2, 3, 4)

**Output:** 9

**Explanation:** The sum of 2 + 3 + 4 is 9.

In [ ]:
def add(*args):
    return sum(args)

add(2,3,5)

10

Given a dictionary of students' names and their scores, write a function that returns the name of the student with the highest score.

**Input:**
{"Alice": 85, "Bob": 90, "Charlie": 92}

**Output:** "Charlie"

In [ ]:
def highest_score(students):
  max_score=max(students.values())
  for name, score in students.items():
    if score == max_score:
        print(f'{name} achieved Highest marks')
        break  # stops at first match


students={"Alice": 85, "Bob": 90, "Charlie": 92}

highest_score(students)

Charlie achieved Highests scores

Write a function that takes a list of integers and a lambda function, and returns a new list where the lambda function is applied to each element of the list.

**Input:**
[1, 2, 3, 4], Lambda: lambda x: x ** 2

**Output:**
[1, 4, 9, 16]

**Explanation:**

Each number is squared by the lambda function.

In [ ]:
def apply_lambda(nums, func):
    return list(map(func, nums))

n=int(input('Enter the length of list : '))
arr = map(float, input(f'Enter {n} scores of students (space between scores)').split())
arr=list(arr)
result = apply_lambda(arr, lambda x: x ** 2)
print(result)

Enter the length of list :4
Enter 4 scores of students (space between scores)8 6 5 3
[64.0, 36.0, 25.0, 9.0]

Write a function that takes a variable-length list of numbers (*args) and an optional keyword argument operation. If operation='multiply', return the product of all the numbers; otherwise, return their sum.

**Input:** (1, 2, 3, 4), operation='multiply'

**Output:** 24

**Explanation:** The product of the numbers 1 * 2 * 3 * 4 is 24.

In [ ]:
def calculate(*args, operation='sum'):
    if operation == 'multiply':
        result = 1
        for num in args:
            result *= num
        return result
    else:
        return sum(args)

print(calculate(12,34,56, operation='multiply'))  # Output: 24
print(calculate(12,34,56))

22848
102